{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	<link rel="icon" href="{% static 'img/logo.png' %}">
	<title>
	{% block title %}
	Bolsa de Trabajo UES
	{% endblock %}
	</title>
</head>
<body>
	<header>

		{% block menu-start %}
		<nav class="menu-start">
			<ul>
				{% if user.is_authenticated %}
					<li><a href="{% url 'usuario:pag_logout' %}" class="btn-right">Cerrar Sesión</a></li>
					<li>Usuario en linea: <a href="#" class="username">{{user.username}}</a></li>	
				{% else %}
					<li><a href="/" class="btn-right">Registrase</a>
						<!-- <ul>
							<li><a href="{% url 'usuario:reg_estudiante' %}" class="btn-right">Estudiante</a></li>
							<li><a href="{% url 'usuario:reg_empresa' %}" class="btn-right">Empresa</a></li>
						</ul>-->
					</li>
					<li><a href="/" class="btn-right">Ingresar</a></li>
				{% endif %}
			</ul>
		</nav>
		{% endblock %}
	
		{% block baner %}
		<div class="banner-cv">
			<img class="banner" src="{% static 'img/banner.jpg' %}" alt="">
		</div>
		{% endblock %}

		{% block menu-main %}
		<nav class="menu-main">
			<ul>
				<li><a href="{% url 'empleo:pag_inicio' %}">Inicio</a></li>

				{% if user.is_authenticated %}

					{% if user.get_short_name == '' %}
						<li><a href="{% url 'empleo:con_oferta' %}">Mis ofertas</a></li>
						<li><a href="{% url 'empleo:reg_oferta' %}">Crear oferta</a></li>
						<li><a href="">Mi perfil</a></li>
					{%  else %}
						<li><a href="">Empleos</a>
							<ul>
								{% for facultad in facultad %}
								<li><a class="facultad" href="{% url 'empleo:lst_carrera' facultad.id %}">{{facultad.nombreFacultad}}</a></li>
								{% endfor %}
							</ul>
						</li>
						<li><a href="">Nuevo!</a></li>
					{% endif %}

				{% endif %}

				<li><a href="">Nosotros</a></li>
			</ul>
		</nav>
		{% endblock %}
	</header>

	{% block content %}

	{% endblock %}

	<div  class="content-init">
	<h1 class="titular">
		{% block titular %}
		{% endblock %}
	</h1>
	{% block contentInit %}

	{% endblock %}		
	</div>

	<footer>

	</footer>

</body>
</html>